@import url("https://fonts.googleapis.com/css2?family=Varta&display=swap");

body {
  font-family: "Varta", sans-serif !important;
}

.site-layout-sub-header-background {
  margin: 1vh;
  height: 8vh;
  background: #fff;
}

.site-layout-background {
  padding: 1vh;
  height: 88vh;
  background: #fff;
}

.hover-effect {
  transition: background-color 200ms ease-out 100ms;
}

.hover-effect:hover {
  background-color: #3c426b;
}
