.site-layout-content {
  margin: 1vh;
}

.site-layout-sub-header-background {
  margin: 1vh;
  height: 8vh;
  background: #fff;
}

.site-layout-background {
  padding: 1vh;
  height: 87vh;

  background: #fff;
}

.hover-effect {
  transition: background-color 200ms ease-out 100ms;
}

.hover-effect:hover {
  background-color: #3c426b;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 2vw solid transparent;
  border-right: 4vw solid red;
  border-bottom: 2vw solid transparent;
}
